<div class="container">
  <div id="reservas">
    <ul class="reservas row g-2 list-unstyled">
      <li *ngFor="let item of listaReservas | async" class="col-4">
        <div class="card">
          <div class="card-body">
            <p>ID de reserva: {{item.id}}</p>
            <p>Cliente: {{item.nombreCompletoCliente}}</p>
            <p>Teléfono: {{item.telefonoCliente}}</p>
            <p>Número de mesa: {{item.numeroMesa}}</p>
            <p>Fecha: {{item.fechaYHora}} </p>
            <p>Mascota: {{item.mascota.nombre}}</p>
            <p>Código de reserva: {{item.codigoGenerado}}</p>
            <div *ngIf="item.descuentos && item.descuentos[0].id" class="bg-light">
              <hr>
              <p>Descuentos:</p> 
              <ul>
                <li *ngFor="let descuento of item.descuentos">
                  <p>Descripción: {{descuento.descripcion}}</p>
                  <p>Porcentaje de descuento: {{descuento.valor}}%</p>
                  <p *ngIf="descuento.vigente">Este descuento se encuentra vigente</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
