<div class="container">
  <h1>Mostrar Reserva</h1>
  <h3>Ingresa el código de la reserva a mostrar</h3>
  <div class="card">
    <div class="card-body">
      <div *ngIf="alerta" class="row m-3 position-relative" id="alerta">
        <app-alerta [mensaje]="alerta.mensaje" [tipo]="alerta.tipoMensaje"></app-alerta>
      </div>
      <form [formGroup]="mostrarReservaForm" (ngSubmit)="mostrar()">
        <div class="row m-3">
          <div class="col-sm-2">
            <label>Código de reserva:</label>
          </div>
          <div class="col-sm-4">
            <input validar type="text" id="codigoReserva" name="codigo" class="form-control"
              formControlName="codigo">
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!mostrarReservaForm.valid" id="mostrarReserva">Mostrar reserva</button>
      </form>

      <div *ngIf="reserva" class="m-3" id="reserva">
        <div class="card">
          <div class="card-body">
            <p>ID de reserva: {{reserva.id}}</p>
            <p>Cliente: {{reserva.nombreCompletoCliente}}</p>
            <p>Teléfono: {{reserva.telefonoCliente}}</p>
            <p>Número de mesa: {{reserva.numeroMesa}}</p>
            <p>Fecha: {{reserva.fechaYHora}} </p>
            <p>Mascota: {{reserva.mascota.nombre}}</p>
            <p>Código de reserva: {{reserva.codigoGenerado}}</p>
            <div *ngIf="reserva.descuentos && reserva.descuentos[0].id" class="bg-light">
              <hr>
              <p>Descuentos:</p>
              <ul>
                <li *ngFor="let descuento of reserva.descuentos">
                  <p>Descripción: {{descuento.descripcion}}</p>
                  <p>Porcentaje de descuento: {{descuento.valor}}%</p>
                  <p *ngIf="descuento.vigente">Este descuento se encuentra vigente</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>