<div class="container">
  <h1>Cancelar Reserva</h1>
  <h3>Ingresa el código de la reserva a cancelar</h3>
  <div class="card">
    <div class="card-body">
      <div *ngIf="alerta" class="row m-3 position-relative">
        <app-alerta [mensaje]="alerta.mensaje" [tipo]="alerta.tipoMensaje"></app-alerta>
      </div>
      <form [formGroup]="cancelarReservaForm" (ngSubmit)="cancelar()">
        <div class="row m-3">
          <div class="col-sm-2">
            <label>Código de reserva:</label>
          </div>
          <div class="col-sm-4">
            <input validar type="text" id="codigoReserva" name="codigo" class="form-control"
              formControlName="codigo">
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!cancelarReservaForm.valid">Cancelar reserva</button>
      </form>
    </div>
  </div>
</div>